# OS related
.DS_Store
.AppleDouble
.LSOverride
._*
.idea/
Win32/

# Binary content
bin/
lib/
binding/fortran/module
binding/fortran/lib

# CMake related
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
Debug/
Release/
*.dir/
*.filters
*.vcxproj
*.sln

# Extern libraries
extern/

# Coverage reports
coverage/
