# Exclude files from code releases
.gitignore export-ignore
.gitattributes export-ignore
.travis.yml export-ignore
.codecov.yml export-ignore

# Exclude files from language statistics
copying linguist-vendored
*.txt linguist-vendored
*.md linguist-vendored
*.ipynb linguist-vendored
*.yml linguist-vendored
*.yaml linguist-vendored
*.sh linguist-vendored
*.bat linguist-vendored
*.in linguist-vendored

#Exclude folders from language statistics
examples/* linguist-vendored
tests/* linguist-vendored
