# OS related
.DS_Store
.AppleDouble
.LSOverride
._*
.idea/
Win32/

# Binary content
bin/
lib/

# CMake related
cmake_install.cmake
CMakeCache.txt
Makefile
CMakeFiles/
Debug/
Release/
*.dir/
*.filters
*.vcxproj
*.sln

# CATCH library
include/catch.hpp

