1 VERSIONINFO
FILEVERSION 1,2,1,0
PRODUCTVERSION 1,2,1,0
FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
    FILEFLAGS 0x1L
#else
    FILEFLAGS 0x0L
#endif
    FILEOS 0x4L
    FILETYPE 0x1L
    FILESUBTYPE 0x0L
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040004e4"
        {
            VALUE "Comments", "Little math expression parser"
            VALUE "CompanyName", ""
            VALUE "FileDescription", "Little math expression parser"
            VALUE "FileVersion", "1,2,1,0"
            VALUE "InternalName", ""
            VALUE "LegalCopyright", "Copyright (C) 2016 - 2017 Alberto Lorenzo"
            VALUE "OriginalFilename", ""
            VALUE "ProductName", "Calculate"
            VALUE "ProductVersion", "1,2,1,0"
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x400, 1252
    }
}
